.site-search {
	padding: 1em 0;
}

.block-search {
	margin: 0 auto;
	text-align: center;
}

#search-block-form {
	overflow: hidden;
	height: 36px;
	max-width: 720px;
	margin: 0 auto;
}

#search-block-form .form-text {
	font-family: "HelveticaNeueLTStd-Md", "Helvetica Neue", Helvetica, "Roboto Sans", "Segoe UI", Arial, "Lucida Grande", sans-serif;
	color: #888;
	background: #fff;
	border: 2px solid #ddd;	
	border-right: none;
	min-width: 280px;
	width: 100%;
	max-width: 660px;
	display: block; 
	float: left;
	text-align: center;
}

#search-block-form .form-submit {
  font-family: 'SPnet-icons';
  display: block;
  background: #fff;
  height: 36px;
  box-shadow: none;
  text-shadow: none;
  margin-left: 0;
  border: none;
  border-top: 2px solid #ddd;
  border-right: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  color: #aaa; 
}

#search-block-form .form-submit:hover {
  color: #ec1b23;
}

.primary-content .search-form {  
	max-width: 960px;
	margin: 0 auto; 
}

.page-search .primary-content .search-result {
	background: #fff;
	padding: 1em;
}

.page-search .primary-content .content-header .title {
	display: none;
}

.page-search .site-header .search-toggle a {
	color: #eee;
}

.page-search .form-type-searchfield label {
	display: none;
}

.page-search .form-type-searchfield {
	max-width: 720px;
	margin: 0 auto;
}

.page-search .form-type-searchfield .form-text {
	width: 100%;
	max-width: 680px;
}

.page-search #edit-basic {
	text-align: center;
	padding: .4em;
}
