/**
 * @file
 * SPnet related overrides
 */



/* Token input */
.content ul.token-input-list {
  max-width: auto;
  margin: 0;
  padding: 0;
}

.content ul.token-input-list li:before {
  width: 0 !important;
  content: '' !important;
}




.primary-content .primary-action {
  background: #000;
  display: inline-block;
  padding: .14em .4em;
  font-family: 'HelveticaNeueLTStd-BdCn';
  color: #fff;
  text-decoration: none;
}

.primary-content .primary-action:hover {
  background: #f60000;
}

/* New user page */
.page-user-new .content-header .title {
  font-size: 1em;
  color: #aaa;
}

.page-user-new form h3 {
  font-size: 2.7em;
  margin: 0;
}





/* Media: Mobile */
@media only screen and (max-width:420px) {
  .login-page .primary-content {
    padding: 0;
  }

  .login-page .primary-content header .title {
    font-size: 1.4em;
  }

  .login-page .primary-content form {
    max-width: 280px;
  }

}

/* Media: Large screens */
@media only screen and (min-width:1420px) {
  .primary-content .pane-node-book-nav {
    width: 1120px;
  }
}