/* Book navigation */
.pane-node-book-nav {
  width: 960px;
  margin: 0 auto;
  .pane-content {
    width: 280px;
    float: right;
    margin: 0 0 1em 0;
    padding: 0;
    margin-left: 1.4em;
    border-left: .4em solid #ddd;
    ul {
      list-style: none;
      margin: 0;
      padding: 0 .72em;
    }
    li a {
      font-family: 'HelveticaNeueLTStd-BdCn';
      font-weight: normal;
      color: $color-read;
      border-bottom: 1px solid $color-light;
      display: block;
      padding: .4em .72em;
    }
  }
}

@media only screen and (max-width:728px) {
  .pane-node-book-nav .pane-content {
    width: 280px;
    float: none;
    margin: .4em;
    border: none;
    li {
      padding: 0;
      margin: 0;
      font-size: 1em;
    }
  }
}