.login-page .form-actions {
  margin-top: 15px;
}

.not-logged-in .primary-action {
  border: 1px solid #000;
}

/* Media: Mobile */
@media only screen and (max-width:420px) {
  .login-page .primary-content {
    padding: 0;
  }

  .login-page .primary-content header .title {
    font-size: 1.4em;
  }

  .login-page .primary-content form {
    max-width: 280px;
  }

}