/* ==========================================================================
   Basic HTML elements
   ========================================================================== */
html {
	color: $color-read;
	font-size: 1em;
	line-height: 1.4;
	font-family: $font-body;
	height: 100%;
}

body {
	min-height: 100%; /* resize to full background */
	background: $color-base;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid $color-light;
	margin: 1em 0;
	padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

textarea {
	resize: vertical;
}

h1,
h2,
h3 {
	font-family: $font-primary;
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.14;
}

a,
a:link,
a:visited {
	color: $color-read;
}